<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', path='/shop.css') }}" rel="stylesheet">


<title>
Shp at Raw
</title>

</head>

<body>

<div class="header">
Let's get Tpsy! Responsibly
</div>

<div id="navbar">
  <a href="{{ url_for('static', path='/index.html') }}">Tipsy Trolley</a>
  <a href="{{ url_for('static', path='/about.html') }}">About Us</a>
  <a href="{{ url_for('static', path='/shop.html') }}">Shop</a>
  <a href="{{ url_for('static', path='/specs.html') }}">Food Pairings</a>
  </div>
  
  <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 4</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (8).png') }}">
 
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (7).png') }}">
  
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (6).png') }}">
  
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (5).png') }}">
  </div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (4).png') }}">
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (10).png') }}">
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{{ url_for('static', path='/MicrosoftTeams-image (9).png') }}" >
</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

<footer class="footer">
<ul>
  <li style="padding:16px;">Copyright @Products. All rights reserved.</li>
  <li><a href="{{ url_for('static', path='/privacy.html') }}">Privacy Policy</a></li>
  <li><a href="{{ url_for('static', path='/toc.html') }}">Terms & Conditions</a></li>
</ul>
</footer>

</body>
</html>